<% provide :title, t("skill.index.title") %>
<h1><%= t "skill.index.title" %></h1>
<%= search_form_for @search, url: admin_skills_path do |f| %>
  <%= f.text_field :name_cont, class: "input-search",
                   placeholder: "search" %>
<% end %>
<p><%= link_to t("skill.add"), new_admin_skill_path,
  class: "btn btn-success" %></p>

<table>
  <tr><th><%= t "skill.index.name" %><th></tr>
  <%= render partial: "skill", collection: @skills %>
</table>
<%= t "csv.down" %>
<%= link_to t("csv.file"), admin_skills_path(format: "csv") %>

<%= will_paginate %>
