<%= form_for @user do |f| %>
  <%= render "shared/error_messages", object: f.object %>
    <table class="table">
      <tr>
        <th><%= t "skill.name" %><th>
      </tr>
      <%= f.collection_check_boxes :skill_ids, Skill.all, :id, :name do |b| %>
        <tr>
          <%= b.label do %>
            <th><%= b.text %></th>
            <th class="selection_checkbox"><%= b.check_box %></th>
          <% end %>
          <%= hidden_field_tag :flag, Settings.zero %>
        </tr>
      <% end %>
    </table>
  <%= f.submit t("skilluser.add"), class: "btn btn-primary" %>
<% end %>
