<div class="breadcrumb row">
  <div class="col-md-2 col-md-offset-1"><%= project.name %></div>
  <div class="col-md-3"><%= project.abbreviation %></div>
  <div class="col-md-3"><%= project.team_name %></div>
  <div class="col-md-1">
    <%= link_to t("button.edit"), [:edit, :admin, project],
      class: "btn btn-success" %>
  </div>
  <div class="col-md-2"><%= link_to t("button.delete"), [:admin, project],
    method: :delete, data: {confirm: t("project.confirm.delete")},
    class: "btn btn-success" %>
 </div>
</div>
