<div class="row">
  <div class="col-md-6">
    <p>
      <strong><%= t "user.user_name" %></strong>
      <%= @user.username %>
    </p>

    <p>
      <strong><%= t "user.mail" %></strong>
      <%= @user.email %>
    </p>

    <p>
      <strong><%= t "user.type" %></strong>
      <%= @user.role %>
    </p>

    <br><br><br>
  </div>
</div>
