<div class="row">
  <div class="col-md-6">
    <p>
      <strong><%= t "user.user_name" %></strong>
      <%= @user.username %>
    </p>

    <p>
      <strong><%= t "user.email" %></strong>
      <%= @user.email %>
    </p>

    <p>
      <strong><%= t "user.birthday" %></strong>
      <%= @user.birthday %>
    </p>

    <p>
      <strong><%= t "user.type" %></strong>
      <%= @user.role %>
    </p>

    <p>
      <strong><%= t "user.position" %></strong>
      <% @user.positions.each do |p| %>
        <%= p.name %>
      <% end %>
    </p>
    <%= t "csv.down" %>
    <%= link_to t("csv.file"), admin_user_path(format: "csv") %>
    <br><br><br>
  </div>
</div>
