<% provide :title, t("team.index.title") %>
<%= t "csv.down" %>
<%= link_to t("csv.file"), admin_teams_path(format: "csv"), class:"btn" %></br>
<div class="col-md-12">
  <h1><%= t "team.index.name" %></h1>
  <%= render partial: "team", collection: @teams %>
</div>

<%= will_paginate %>
<p><%= link_to t("team.create_new"), new_admin_team_path,
       class: "btn btn-success" %></p>
<%= link_to t("back"), root_path, class: "glyphicon glyphicon-backward" %>
