<% provide :title, t("team.index.title") %>
<%= search_form_for @search, url: admin_teams_path do |f| %>
  <%= f.text_field :name_cont, class: "input-search", placeholder: t("search") %>
<% end %>
<div class="col-md-12">
  <h1><%= t "team.index.name" %></h1>
  <%= render partial: "team", collection: @teams %>
</div>
<%= t "csv.down" %>
<%= link_to t("csv.file"), admin_teams_path(format: "csv"), class:"btn" %></br>
<%= link_to t("csv.download"), admin_positions_path(format: "csv") %>
<%= render "shared/import_form", model: Team %>
<%= will_paginate %>
<p><%= link_to t("team.create_new"), new_admin_team_path,
  class: "btn btn-success" %></p>
<%= link_to t("back"), root_path, class: "glyphicon glyphicon-backward" %>
