<% provide :title, t("team.index.title") %>
<h1><%= t "team.index.title" %></h1>
<%= link_to " ", root_path, class: "glyphicon glyphicon-backward" %>
<p><%= link_to t("team.create_new"), new_admin_team_path, class: "btn btn-success" %></p>
<%= will_paginate %>

<table>
  <tr><th><%= t "team.index.name" %><th></tr>
  <%= render partial: "team", collection: @teams %>
</table>
<%= t "csv.down" %>
<%= link_to t("csv.file"), admin_teams_path(format: "csv") %>

<%= will_paginate %>
