<%= form_for [:admin, @project] do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <%= f.collection_check_boxes :user_ids, @no_project_users,
                               :id, :username do |b| %>
    <div class="breadcrumb">
      <%= b.label do %>
        <div class="col-md-8"><%= b.text %></div>
      <% end %>
      <div class="selection_checkbox col-md-4"><%= b.check_box %></div>
    </div>
  <% end %>
  <%= f.submit t("button.assign_member"), class: "btn btn-primary" %>
<% end %>
