<% provide :title, t("project.title.assign_member") %>
<h1><%= t "project.assign_member" %></h1>
<%= link_to admin_projects_path do %>
  <span class="glyphicon glyphicon-backward"></span>
<% end %>
<div class="row">
  <div class="col-md-4 offset3">
    <%= render "form" %>
  </div>
  <div class="col-md-6 offset3">
    <%= render "form_user" %>
  </div>
</div><br />
<%= link_to admin_projects_path do %>
  <span class="btn btn-primary col-md-offset-5">
    <%= t "add_project" %>
  </span>
<% end %>
